@{
    ViewData["Title"] = "Vigener";
}

<section class="container" style="margin-top: 3%">
    <section class="row open-file__form">
        <!-- i don't know where to place this field, so let be here... -->
        <div class="open-file__inner col-6 mt-3 mb-3">
            <form class="upload-file__form">
                <input class="form-control input__file" type="file" name="file" id="formFile" accept=".txt,.docx">
            </form>
        </div>
    </section>
    
    <section class="row">
        <div class="col-6 input__form">
            <form method="post" data-ajax="true" data-ajax-mode="replace"
                  data-ajax-update="#text__output" data-ajax-url="/home/crypt">
                <div class="mb-3 col-12">
                    <label for="input__text" class="form-label">Text</label>
                    <textarea class="form-control" id="input__text" name="text" rows="3" required></textarea>
                </div>

                <div class="row">
                    <div class="mb-3 col-4">
                        <label for="input__key" class="form-label">Key</label>
                        <input type="text" class="form-control col-3" id="input__key" name="key" placeholder="scorpion" required>
                    </div>
                    <div class="col-2 col-sm-2 mt-3 align-self-center">
                        <select class="mode form-select" name="mode" style="width: auto; height:auto;">
                            <option value="encrypt" selected>Encrypt</option>
                            <option value="decrypt">Decrypt</option>
                        </select>
                    </div>
                    <div class="col-2 col-sm-2 mt-3 ms-4 align-self-center">
                        <select class="lang_mode form-select" name="langMode" style="width: auto; height:auto;">
                            <option value="eng" selected>English</option>
                            <option value="ru">Русский</option>
                        </select>
                    </div>
                </div>

                <p><input type="submit" class="crypt__btn col-2 p-1 btn-secondary rounded" value="Submit" /></p>
            </form>
        </div>

        <div class="col-6 otput__form">
            <form method="post" action="/home/download">
                <label for="text__output" class="form-label">Output</label>
                <textarea class="form-control" id="text__output" name="text" rows="3" readonly style="background-color: white"></textarea>

                <div class="row d-flex justify-content-end">
                    <div class="col-3 mt-3 me-0">
                        <label for="save__file-name" class="form-label">Save file</label>
                        <input type="text" class="form-control col-3" id="save__filename" name="filename" placeholder="Filename" required>
                    </div>
                    <div class="col-2 col-sm-2 mt-5 me-3">
                        <select class="formatfile form-select" name="format" style="width: auto; height:auto;">
                            <option value="txt" selected>.txt</option>
                            <option value="docx">.docx</option>
                        </select>
                    </div>
                    
                    <input type="submit" class="save__btn col-2 p-1 btn-secondary me-3 align-self-end rounded" value="Save"/>
                </div>
            </form>
        </div>
    </section>
</section>


@section Scripts {
    <script src="~/lib/jquery.unobtrusive-ajax.js"></script>
}