@{
    ViewData["Title"] = "Vigener";
}

<section class="container">
    <section class="row open-file__form">
        <!-- i don't know where to place this field, so let be here... -->
        <div class="open-file__inner col-6 mt-3 mb-3">
            <form class="upload-file__form">
                <input class="form-control input__file" type="file" name="file" id="formFile" accept=".txt,.docx">
            </form>
        </div>
    </section>
    
    <section class="row">
        <div class="col-6 input__form">
            <form method="post" data-ajax="true" data-ajax-mode="replace"
                  data-ajax-update="#text__output" data-ajax-url="/home/crypt">
                <div class="mb-3 col-12">
                    <label for="input__text" class="form-label">Text</label>
                    <textarea class="form-control" id="input__text" name="text" rows="3" required></textarea>
                </div>

                <div class="row">
                    <div class="mb-3 col-4">    
                        <label for="input__key" class="form-label">Key</label>
                        <input type="text" class="form-control col-3" id="input__key" name="key" placeholder="скорпион" required>
                    </div>
                    <div class="col-2 col-sm-2 mt-3 align-self-center">
                        <select class="mode form-select" name="mode" style="width: auto; height:auto;">
                            <option value=0 selected>Encrypt</option>
                            <option value=1>Decrypt</option>
                        </select>
                    </div>
                </div>

                <p><input type="submit" class="crypt__btn col-2 btn-secondary" value="Submit" /></p>
            </form>
        </div>

        <div class="col-6 otput__form">
            <div>
                <label for="text__output" class="form-label">Output</label>
                <textarea class="form-control" id="text__output" rows="3" readonly style="background-color: white"></textarea>
            </div>
        </div>
    </section>
</section>


@section Scripts {
    <script src="~/lib/jquery.unobtrusive-ajax.js"></script>
}